<% provide(:title, 'bxSlider Demo') %>

<% content_for :library do %>
  <!-- bxslider -->
  <%= stylesheet_link_tag "bxslider/jquery.bxslider.css" %>
  <%= javascript_include_tag "bxslider/jquery.bxslider.min.js" %>
<% end %>

<div class="container">
  <div class="bxsliderView">
    <ul class="bxslider">
      <li><img src="<%= asset_path 'common/sample/hillside.jpg' %>" alt="" /></li>
      <li><img src="<%= asset_path 'common/sample/houses.jpg' %>" alt="" /></li>
      <li><img src="<%= asset_path 'common/sample/picto.png' %>" alt="" /></li>
    </ul>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider();
  });
</script>
<% end %>