<!DOCTYPE html>
<html>
<head>
  <title>JqueryDemoApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- colorbox -->
  <%= javascript_include_tag "colorbox/jquery.colorbox-min.js" %>
  <%= stylesheet_link_tag "colorbox/colorbox.css" %>
</head>
<body>

<%= yield %>

</body>
</html>
